.status {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    padding: 1%;
    font-size: 20px;
    font-weight: 600;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .no-data {
        width: 100%;
        margin-top: 1%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

}

table {
    margin: 1%;
    width: 50%;

    .mat-header-cell {
        font-size: 16px;
    }

}

@media screen and (max-width: 1360px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}