.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

table {
    margin: 1%;
    width: 50%;

    .mat-header-cell {
        font-size: 16px;
    }
}

@media screen and (max-width: 1360px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}