.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .no-data {
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 24px;
    }

}

table {
    margin: 1%;
    width: 50%;

    .mat-header-cell {
        font-size: 16px;
    }
}

@media screen and (max-width: 1360px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}