<div class="card-container">
    <mat-card class="card">

        <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>AirReps Verification Check</mat-card-title>
            <mat-card-subtitle>If a trusted certificate has been issued for the requested seller, their details will be displayed beneath.</mat-card-subtitle>
        </mat-card-header>
        
        <app-decode-cert [certificate]='apiResponse'></app-decode-cert>

        <mat-card-content class="build">
            {{ buildNumber }}
        </mat-card-content>

    </mat-card>

</div>

