.card-container {
    padding: 3%;
    display: flex;
    flex-direction: row;

    .card {
        min-width: 450px;
        min-height: 400px;
    }

    .header-image {
        background-image: url("../../assets/airreps-headset.png");
        background-size: cover;
    }

}

